@using DotnetPiper.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper DotnetPiper.TagHelpers.ArticlesPostTagHelper,DotnetPiper


@{
    ViewData["Title"] = "TagHelper";
}
<div><h2 style="color:red">TagHelper showcase</h2></div>

<body>
          

@*<articles-post article-category="WebAPI"></articles-post>*@
    <h4><div article-category="TypeScript"></div></h4>

    <div></div>

        
    
</body>







